.currentRunDate {
  background-image: url("../assets/icons/calendar3.svg");
  background-position: var(--spacing-s) var(--spacing-s);
  background-color: var(--red);
  background-repeat: no-repeat;
  color: var(--creme);
  padding: var(--spacing-s) 0 var(--spacing-s) calc(var(--icon-size) + var(--spacing-s) * 2);
  font-family: 'Courier Prime', monospace;
  background-size: var(--icon-size);
  min-height: var(--icon-size);
  text-align: left;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--spacing-s) 0 0 0;
  position: relative;
  background-color: var(--blue-dark);
  border-bottom: 1px solid var(--creme);
}

.singleDown:after,
.doubleDown:after,
.singleUp:after,
.doubleUp:after,
{
  content: "";
  display: inline-block;
  width: 24px;
  height: 34px;
  background-repeat: no-repeat;
}

.singleDown::after {
  background-image: url("../assets/icons/chevron-down.svg");
}

.doubleDown::after {
  background-image: url("../assets/icons/chevron-down-double.svg");
}

.singleUp::after {
  background-image: url("../assets/icons/chevron-up.svg");
}

.doubleUp::after {
  background-image: url("../assets/icons/chevron-up-double.svg");
}

.help {
  background-color: transparent;
  background-image: url("../assets/icons/magnifier-question.svg");
  position: absolute;
  right: var(--spacing-s);
  top: var(--spacing-s);
  border: none;
}
