.fabButton {
  position: fixed;
  width: var(--button-size);
  height: var(--button-size);
  border-radius: var(--spacing-s);
  padding: var(--spacing-s);
  right: var(--spacing-s);
  bottom: var(--spacing-s);
  z-index: 1000;
  font-size: var(--icon-size);
  line-height: var(--icon-size);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border: none;
  font-weight: 500;

  &[data-mode="1"] {
    background-color: var(--red);
    color: var(--creme);
  }

  &[data-mode="2"] {
    background-color: var(--yellow);
    color: var(--anthrazit);
  }

  &[data-mode="3"] {
    background-color: var(--blue-light);
    color: var(--anthrazit);
  }
}
