.chart {
  padding: 5px;
  user-select: none;
  background-color: var(--blue-dark);
  border-bottom: 1px solid var(--creme);
  border-top: 1px solid var(--creme);
}

.chart .linechart_path {
  stroke-width: 1;
  fill: none;
  stroke: var(--creme);
}

.chart line {
  stroke: var(--red);
  stroke-width: 10;
  opacity: 0.3;
}

.chart text {
  font-size: 10px;
  stroke: #fff;
}
