div.legend {
  color: #000;
  background-color: var(--blue-light);
  font-family: 'Montserrat', sans-serif;
  padding: var(--spacing-s);
  margin-bottom: var(--spacing-s);
}

div.activeLegend {
  font-family: 'Montserrat', sans-serif;
  padding: var(--spacing-s);
  margin-bottom: var(--spacing-s);
  background-color: var(--red);
  color: var(--creme);
}
