.runarea {
  background-color: var(--blue-dark);
  overflow: hidden;

  > div:empty {
    display: none;
  }
}

.refreshButton {
  z-index: 60;
  background: var(--red) url("../assets/icons/cloud-sync-white.svg") no-repeat center center;
  width: var(--icon-size-big);
  height: var(--icon-size-big);
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: var(--spacing-s);
  top: var(--spacing-s);

  &.active {
    background-image: url("../assets/icons/cloud-sync.svg");
  }

  &[data-state]:not([data-state='0']):not([data-state]) {
    background: var(--red) url("../assets/icons/cloud-database.svg") no-repeat center center;
    &::after {
      content: attr(data-state);
      width: 20px;
      height: 20px;
      display: block;

    }
  }
}
