.currentRun {
    .stats {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
      padding: var(--spacing-s);
      position: relative;
      background-color: var(--blue-dark);
      border-bottom: 1px solid var(--creme);

      > div:first-child {
        flex: 0 0 66.6%;
      }
    }

    .date {
      padding-top: 0;
      margin-bottom: 0;
    }
  }

.date, .count, .pace, .distance, .duration, .vdot, .steps, .calories, .help {
  font-family: 'Courier Prime', monospace;
  background: transparent none no-repeat var(--spacing-s) top;
  background-image: url("../assets/icons/clipboard-list.svg");
  background-size: var(--icon-size);
  min-height: var(--icon-size);
  padding-left: calc(var(--icon-size) + var(--spacing-s) * 2);
  padding-top: 3px;
  text-align: left;
  margin-bottom: var(--spacing-s);
  color: var(--creme);

  input {
    font-size: var(--font-size-body);
    border: none;
    background-color: transparent;
    color: var(--creme);
    font-family: 'Courier Prime', monospace;
    padding: 0;
  }
}

.fastest .pace,
.mostPerformant .vdot,
.longest .duration,
.furthest .distance {
  color: var(--yellow) !important;
}

.count {
  background-image: url("../assets/icons/clipboard-list.svg");
  border-bottom: 1px solid var(--creme);
  padding-bottom: var(--spacing-s);
}

.date {
  background-image: url("../assets/icons/calendar3.svg");
  border-bottom: 1px solid var(--creme);
  padding-bottom: var(--spacing-s);
  padding-top: var(--spacing-s);
  background-color: var(--red);
  background-position: var(--spacing-s) var(--spacing-s);
}

.pace {
  background-image: url("../assets/icons/stopwatch-running.svg");
}

.distance {
  background-image: url("../assets/icons/polygon3.svg");
}

.duration {
  background-image: url("../assets/icons/stopwatch.svg");
}

.vdot {
  background-image: url("../assets/icons/star.svg");
}

.steps {
  background-image: url("../assets/icons/footprint.svg");
}

.calories {
  background-image: url("../assets/icons/fire.svg");
}

.fastest .pace {
  background-image: url("../assets/icons/stopwatch-running-most.svg");
}

.mostPerformant .vdot {
  background-image: url("../assets/icons/star-most.svg");
}

.longest .duration {
  background-image: url("../assets/icons/stopwatch-most.svg");
}

.furthest .distance {
  background-image: url("../assets/icons/polygon3-most.svg");
}

div.legend {
  font-family: 'Montserrat', sans-serif;
  padding: var(--spacing-s);
  margin-bottom: var(--spacing-s);
  background-color: var(--yellow);
  color: #000;
}

.paceActive > .pace {
  background-color: var(--blue) !important;
}

.durationActive > .duration {
  background-color: var(--blue) !important;
}

.distanceActive > .distance {
  background-color: var(--blue) !important;
}

.vdotActive > .vdot {
  background-color: var(--blue) !important;
}

.help {
  background-color: transparent;
  background-image: url("../assets/icons/magnifier-question.svg");
  position: absolute;
  right: var(--spacing-s);
  top: var(--spacing-s);
  border: none;
}