:root {
  --red: #e63946;
  --blue: #457b9d;
  --blue-light: #a8dadc;
  --blue-dark: #1d3557;
  --green: #50FFB1;
  --creme: #f1faee;
  --yellow: #F6CF63;
  --anthrazit: #2f353b;
  --spacing-s: 13px;
  --spacing: 21px;
  --icon-size: 20px;
  --icon-size-big: 40px;
  --font-size-body: 16px;
  --font-size-header: 24px;
  --run-head-height: 80px;
  --run-body-height: 107px;
  --max-width: 600px;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: var(--creme);
  background-color: var(--red);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > div {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  position: relative;
  background-color: var(--red);
}

#app > * {
  max-width: 100%;
  overflow: auto;
}
