.userarea {
  position: relative;
  $height: 80px;
  padding: var(--spacing-s);
  background-color: #2f353b;
  color: var(--creme);
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: $height;
  z-index: 10;
  transition: margin 100ms linear;

  &.hidden {
    margin-top: -$height;
  }

  .importButton {
    z-index: 60;
    background: transparent url("../assets/icons/cloud-database.svg") no-repeat center center;
    width: var(--icon-size-big);
    height: var(--icon-size-big);
    border: 0;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    background-size: var(--icon-size-big);
  }

  .insert, .delete {
    background: transparent none no-repeat right center;
    padding-right: calc(var(--icon-size-big) + var(--spacing-s));
    padding-top: 2px;
    background-size: var(--icon-size-big);
    height: var(--icon-size-big);
    margin-right: var(--spacing-s);
    font-size: var(--font-size-header);
  }

  .insert {
    background-image: url("../assets/icons/database-plus.svg");
  }

  .delete {
    background-image: url("../assets/icons/database-minus.svg");
  }
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

.userarea.loggedOut {
}

.userarea.loggedIn {
}
