.userarea {
  position: relative;
  $height: 80px;
  padding: var(--spacing-s);
  background-color: #2f353b;
  color: var(--creme);

  height: $height;
  z-index: 10;
  transition: margin 100ms linear;

  &.hidden {
    margin-top: -$height;
  }

  .importButton {
    z-index: 60;
    background: transparent url("../assets/icons/cloud-database.svg") no-repeat center center;
    width: var(--icon-size-big);
    height: var(--icon-size-big);
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: var(--spacing-s);
    top: var(--spacing-s);
  }

  .loginButton {
    background: transparent url("../assets/icons/google_fit_icon.svg") no-repeat left center;
    height: 100%;
    margin: auto;
    width: 65px;
    animation: heartbeat 2s infinite;
    display: block;
    border: none;
    color: var(--creme);
  }
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

.userarea.loggedOut {
}

.userarea.loggedIn {
}
