.userarea {
  position: relative;
  $height: 80px;
  padding: var(--spacing-s);
  background-color: var(--creme);
  display: flex;
  justify-content: center;
  align-items: center;


  height: $height;
  z-index: 10;
  transition: margin 100ms linear;

  &.hidden {
    margin-top: -$height;
  }

  .importButtonContainer {
    flex-grow: 1;
    z-index: 60;
    text-align: right;

    .importButton {
      background: var(--red) url("../assets/icons/cloud-database.svg") no-repeat center center;
      width: var(--button-size);
      height: var(--button-size);
      border: 0;
      margin: 0;
      background-size: var(--icon-size);
      border-radius: var(--spacing-s);
      padding: var(--spacing-s);
      right: var(--spacing-s);
      bottom: var(--spacing-s);
      font-size: var(--spacing);
      line-height: var(--spacing);
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
  }

  .insert, .delete {
    background: transparent none no-repeat right center;
    padding-right: var(--icon-size);
    background-size: var(--icon-size);
    height: var(--icon-size);
    margin-right: var(--spacing-s);
    font-size: var(--icon-size);
    line-height: var(--icon-size);
    color: var(--anthrazit);
  }

  .insert {
    background-image: url("../assets/icons/database-plus.svg");
  }

  .delete {
    background-image: url("../assets/icons/database-minus.svg");
  }
}
